@import 'tailwindcss';

html {
  /* Prevents the scrollbar from jumping the layout width */
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

body.modal-open,
body.menu-overlay-open,
body.boot-loading,
body.transition-active {
  overflow: hidden;
}

:root {
  --header-height: 3.5rem;
}

@utility font-climate-crisis {
  font-family: 'Climate Crisis', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'YEAR' 1979;
}

@utility font-boldonese {
  font-family: 'Boldonse', system-ui;
  font-weight: 400;
  font-style: normal;
}

@utility font-cal-sans {
  font-family: 'Cal Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

@utility font-petit-formal-script {
  font-family: 'Petit Formal Script', cursive;
  font-weight: 400;
  font-style: normal;
}

@utility font-line-jp {
  font-family: 'LINE Seed JP', sans-serif;
  font-weight: 400;
  font-style: normal;
}

@utility text-massive1 {
  font-size: 4rem;
}

@utility text-massive2 {
  font-size: 4.5rem;
}

@utility leading-massive1 {
  line-height: 4.5rem;
}

@utility leading-massive2 {
  line-height: 5rem;
}

@media (width <= 30rem) {
  .navbar-large-button {
    display: none;
  }
}

@media (width > 30rem) {
  .navbar-mobile-button {
    display: none;
  }
}

.hero-image-container {
  perspective: 1000px;
}

.hero-image-parent {
  transition: transform 0.1s ease;
  transform-style: preserve-3d;
  will-change: transform;
  overflow: visible;
}
/* 
.drop-cap::first-letter {
  float: left;
  font-size: 4.4em;
  line-height: 0.8;
  padding-right: 0.5rem;
  margin-top: 0.05em;
}
@supports (initial-letter: 4) or (-webkit-initial-letter: 4) {
  .drop-cap::first-letter {
    float: none;
    font-size: inherit;
    line-height: inherit;
    margin-top: 0;
    initial-letter: 4;
    -webkit-initial-letter: 4;
  }
} */
